.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.vert-grid {
  display: grid;
  gap: 20px;
}
